.stand-list {
  margin-bottom: 100px !important;
  font-family: 'Questrial', sans-serif;
  font-size: 30px;
  background-color: #ffeaa5;
  padding: 25px;
  border: 3px outset grey;
  width: 66rem;
  border-radius: 5px;
  box-shadow: 10px 10px grey !important;
}
.under-line {
  background: black;
  margin: 0px;
  height: 3px;
  position: absolute;
  /* left: 50px; */
}

.standards-list {
  margin-top: 30px;
  font-size: 20px;
}

.logo-img {
  height: 200px;
  width: 150px;
  position: relative;
  left: 815px;
  bottom: 170px;

}

.title-dive {
  height: 110px;
}

.navbar-nav {
  float: none;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.navbar {
  margin-bottom: 40px !important;
  font-family: 'Questrial', sans-serif;
  font-size: 25px;
}

.navbar-nav>li {
  display: inline-block;
  float: none;
}

body {
  margin-top: 125px !important;
  background-color: #CAEBF2 !important;
    margin-bottom: 125px !important;
}


h1 {
  text-align: center;
  font-size: 75px !important;
  font-family: 'Abril Fatface', cursive !important;
}

h2 {
  padding-top: 20px !important;
  text-align: center;
  font-size: 35px !important;
  font-family: 'Francois One', sans-serif;
  /* font-family: 'Kalam', cursive; */
}

.title {
  margin-bottom: 40px;
  margin-top: 50px;
}

.col-sm {
  border: 3px outset grey;
  background-image: url(/images/flashcard.png);
  background-size: 420px;
  text-align: right;
  border-radius: 5px;
  margin: 10px;
  height: 20rem;
  width: 32rem !important;
  box-shadow: 10px 10px grey !important;
}

.lesson-form {
  border: 3px outset grey;
  padding: 30px;
  width: 500px;
  box-shadow: 10px 10px grey !important;
  background-color: rgb(248,249,250);
  font-size: 20px;
  font-family: 'Francois One', sans-serif;
}

.form-instructor {
  width: 200px !important;

}
.form-mod {
  width: 100px !important;
  height: 400px;
}

.mod-form-div {
  position: absolute;
  top: 739px;
  left: 375px;
}
.form-add-button {
  width: 440px;
  height: 50px;
  position: absolute;
  top: 865px;
  text-transform: uppercase;
  background: #ffffff;
  padding: 20px;
  border: 4px solid black !important;
  border-radius: 6px;
}

.form-add-button:hover {
  color: #ffffff !important;
  border-radius: 50px;
  border-color: black !important;
  transition: all 0.3s ease 0s;
}

.delete-button {
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  right: 60px;
}

.edit-button {
  cursor: pointer;
  font-size: 25px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.toggle-button {
  cursor: pointer;
  font-size: 55px;
  position: absolute;
  top: 245px;
  left: 200px;

}
/* hr {
  margin-top: 50px !important;
} */
.search-icon{
    cursor: pointer;
    font-size: 40px;
    position: absolute;
    top: 250px;
    right: 200px;
  }


.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.08);
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  color: #30A54B;
}
.hvr-fade-also:hover, .hvr-fade-also:focus, .hvr-fade-also:active {
  color: #0075f6;
}
.nav-link {
  cursor: pointer;
}
.code-icon {
  font-size: 90px;
  color: #385170;
  position: absolute;
  bottom: 90px;
  right: 75px;
  opacity: 0.9;
}

.like-icon {
  cursor: pointer;
  font-size: 40px;
  color: #facf5a;
  position: absolute;
  bottom: 1px;
  left: 30px;
}

.video-icon {
  font-size: 90px;
  color: #df0054;
  position: absolute;
  bottom: 90px;
  right: 200px;
  opacity: 0.8;
}

.lesson-likes {
  position: absolute;
  font-size: 20px;
  bottom: 10px;
  left: 20px;
  font-family: 'Francois One', sans-serif;
}

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.content-div {
  position: absolute;
  top: 150px;
  left: 10px;
  font-family: 'Francois One', sans-serif;
}

.gone {
  display: none;
}
