/* .icon-block {
  font-size: 50px;
  float: right;
  margin-right: 100px;
  color: yellow
} */
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.navbar {
  margin-bottom: 40px !important;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}
body {
  background-color: #CAEBF2 !important;
}

.toggle-button {
  font-size: 60px;
}

/* html {
   background-color: blue;
 } */
h1 {
  text-align: center;
  font-size: 75px !important;
    font-family: 'Abril Fatface', cursive !important;
}

h2 {
  padding-top: 20px !important;
  text-align: center;
  font-size: 35px !important;
  font-family: 'Kalam', cursive;
}

.title {
  margin-bottom: 40px;
  margin-top: 50px;
}


.col-sm {
  /* border: 1px solid grey; */
  background-image: url(/images/flashcard.png);
  background-size: 420px;
  text-align: right;
  border-radius: 5px;
  margin: 10px;
  height: 20rem;
  width: 32rem !important;
  box-shadow: 10px 10px grey !important;
}

form {
  border: 3px solid black;
  padding: 30px;
}

.delete-button {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  bottom: 30px;
  right: 40px;
}

.toggle-button {
  cursor: pointer
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.08);
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}

.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  /* background-color: #2098D1; */
  color: #76a21e;
}

.code-icon {
  font-size: 90px;
  color: #385170;
  position: absolute;
  bottom: 100px;
  right: 40px;
  opacity: 0.9;

}

.like-icon {
  cursor: pointer;
  font-size: 30px;
  color: black;;
  position: absolute;
  bottom: 30px;
  left: 40px;

}

 .video-icon {
  font-size: 90px;
  color: #df0054;
  position: absolute;
  bottom: 100px;
  right: 170px;
  opacity: 0.8;

}


.lesson-likes {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}

.content-div {
  position: absolute;
  top: 150px;
  left: 10px;
  font-family: 'Acme', sans-serif;
}
